
/*/ Image path to static asset references /*/

$assetPath : "https://s3-us-west-2.amazonaws.com/scottneidig.com/images/";


html, body { height:100%; padding: 0px; margin: 0px; }

* {margin:0; padding:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}   

/*/ Custom styles for timeline /*/

.vco-timeline .vco-navigation .timenav-background .timenav-tag div h3 { color:#08c !important; }

.vco-slider .slider-item .content .content-container .text .container .slide-tag { background-color:#08c !important; font-size:14px !important;}

.vco-storyjs h2.date, .vco-storyjs h3 { color:#444444 !important; }

 div.container h3 { font-size:45px !important; line-height: 45px !important; margin-bottom:0 !important; margin-top: 10px !important; }

.vco-storyjs .vco-feature {
  p { color:#000 !important; font-size: 22px !important; line-height: 28px !important; }
  p span.job-title { font-size: 14px !important; }
}

.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3 { font-size:12px !important; line-height: 15px !important; }


/* Header */

#header { overflow:hidden; background-color:#efefef; }

#header-contact { padding:20px 0 20px 0; float:right; display:inline; }

#header {

  .phone { float:right; padding:15px 20px 15px 25px; width:210px;font-weight:bold; color:#616265; background: left center no-repeat url(#{$assetPath}icon-phone.png); clear:both; }

  .linkedin { float:right; padding:15px 20px 15px 37px; width:210px;font-weight:bold; color:#616265; background: left center no-repeat url(#{$assetPath}linkedin-3-512.png); clear:both; }

  .email { float:right; padding:15px 20px 15px 37px; width:210px;font-weight:bold; color:#616265; background: left center no-repeat url(#{$assetPath}icon-email.png); }

  h2, h1 { display:inline; float:left; }

}


/*/ Styles shared by both header and footer class /*/

#footer, #header { overflow:hidden; background-color:#efefef; }

#footer a, #header a { text-decoration:none; color:inherit; }

#footer h1, #header h1 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; font-size: 36px; color: #333; padding:35px 0 0 25px; }

#footer h2, #header h2 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:24px; font-weight:normal; padding:46px 0 0 6px; }

#footer h2, #header h2 { color:#777; }

#footer h2, #footer h1, #header h2, #header h1 { display:inline; float:left; }

#footer-contact, #header-contact  { padding:20px 0 20px 0; float:right; display:inline; }

#footer .phone, #header .phone { float:right; padding:15px 20px 15px 25px; width:210px;font-weight:bold; color:#616265; background: left center no-repeat url(#{$assetPath}icon-phone.png); clear:both; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

#footer .linkedin, #header .linkedin { float:right; padding:15px 20px 15px 37px; width:210px;font-weight:bold; color:#616265; background: left center no-repeat url(#{$assetPath}linkedin-3-512.png); clear:both; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

#footer .email, #header .email { float:right; padding:15px 20px 15px 37px; width:210px;font-weight:bold; color:#616265; background: left center no-repeat url(#{$assetPath}icon-email.png); font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

/* Mobile hide show for adaptive shared by header and footer classes */

#footer .max-480, #header .max-480 { display:none !important; }

#footer .max-480-inline, #header .max-480-inline { display:none; }


/*/
  RESUME PAGE STYLES 
/*/

body#resume { width:960px; margin:0 auto; font-family:"Effra W01 Light", Arial, sans-serif; color:#616265; font-size:16px; background-color:#bfbfbf; }

body#resume {

  /* Mobile hide show  for adaptive */
  .max-480 { display:none !important; }
  .max-480-inline { display:none; }


  img { border:0; outline:none; }

  a { text-decoration:none; color:inherit; }

  h1 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; font-size: 36px; color: #333; padding:35px 0 0 25px; }

  h2 { font-size:24px; font-weight:normal; padding:46px 0 0 6px; }

  h2, h3 { color:#777; }

  li { font-size:18px; }

  .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}


  div.content { background-color:#ffffff; padding:32px 0 0 0; }

  div.content {

    h2 { padding:0 0 15px 0;  margin:0 25px 0 25px;  border-bottom: 1px solid #efefef; }

    h3.top { width:455px; margin:6px auto 0 auto; font-size:14px; font-weight:normal; line-height:20px; }

    .items .item h3 { margin:0; padding:0; font-weight:normal; }

    p { font-size:14px; font-weight:normal; padding:0; margin:0;  line-height:20px; }

    .item.first-recommendations p { font-size:18px; font-weight:normal; padding:0; margin:0;  line-height:27px; }

    .items { overflow:hidden; padding:38px 0 20px 0; }

    .item { float:left; text-align:left; }

    .item.first { width:210px; margin:0 0 0 25px; }

    .item.first h3 {padding:5px 0 0 0; color: #333; }

    .item.middle {width:580px; margin:0;}

    .item.last {width:50px; margin:0 0 0 20px; color: #333;}

    .item.middle h3, #experience .item.last h3 {padding:0 0 15px 0; color: #333;}

    .item > img {display:block; }

    .item h3 {margin:20px 0; text-align:left; }

    .item ul {margin: 0 0 0 20px;}

    .item li {margin-bottom:16px; line-height:25px;}


    .item.first-skillset {width:460px; margin:0 0 0 25px;}

    .item.first-skillset h3 {padding:0 0 15px 0; color: #333; font-weight: bold;}

    .item.middle-skillset {width:300px; margin:0;}

    .item.middle-skillset h3 {padding:0 0 15px 0; color: #333; font-weight: bold; }


    .item.first-education {width:470px; margin:0 0 0 25px;}

    .item.first-education .col, div.content .item.middle-education .col { display:inline; float:left; }

    .item.first-education h3 {padding:20px 0 0 0; color: #333;}

    .item.middle-education {width:350px; margin:0;}

    .item.middle-education h3 {padding:20px 0 0 0; color: #333;}


    .item.first-awards {width:470px; margin:0 0 0 25px;}

    .item.first-awards .col, div.content .item.first-awards .col2, div.content .item.middle-awards .col, .item.middle-awards .col2 { display:inline; float:left; padding:0 0 0 10px;}

    .item.middle-awards {width:460px; margin:0;}

    .item.first-awards h3, div.content .item.middle-awards h3 {padding:5px 0 0 0; color: #333;}


    .item.first-recommendations {width:880px; margin:0 0 0 25px;}

    .item.first-recommendations h3 {padding:5px 0 0 0; color: #333;}

    .item.first-recommendations p {padding:0 0 10px 0;}
  }
}

@media screen and (max-width:480px) {

  body#resume {width:100%; min-width:320px;}

  body#resume {

      .min-480{display:none !important;}

      .max-480{display:block !important;}

      .min-480-inline{display:none;}

      .max-480-inline{display:inline;}


      div.content .item.first { width: 210px; margin: 0 0 0 15px; }

      div.content h2 { padding: 0 0 15px 0; margin: 0 25px 25px 15px; }

      div.content .item.middle { font-weight:bold; }

      div.content .items { padding: 0 0 20px 0; }

      div.content .item.first { width: 305px; margin: 0 0 0 15px; padding: 0 0 0 0;}

      div.content .item.middle { width: 320px; padding:0 0 15px 15px; clear:both; }

      div.content .item.last { float:left; padding:0 0 15px 15px; margin:0; clear:both; width:320px;}

      div.content .item.first-skillset { width: 320px; margin: 0 15px 0 15px; }

      div.content .item.middle-skillset { margin: 0 0 0 15px; }

      div.content .item.middle-skillset ul, div.content .item.first-skillset ul { padding: 0 0 15px 0; }

      div.content .item.first-skillset h3, div.content .item.middle-skillset h3 { font-weight: bold; }

      div.content .item.first-education { width: 320px; margin: 0 0 0 15px; padding:0 0 25px 0; }

      div.content .item.first-education h3 { padding: 0 0 0 0; }

      div.content .item.middle-education { width: 320px; margin: 0 0 0 15px; padding:0; }

      div.content .item.first-awards { width: 320px; margin: 0 0 0 15px; padding:0 0 25px 0; }

      div.content .item.middle-awards { width: 320px; margin: 0 0 0 15px; padding:0; }

      div.content .item.first-recommendations { width: 320px; margin: 0 0 0 10px;}

      div.content .item.first-recommendations ul li p { font-size: 16px;}
    }


    #header { background-color:#efefef; padding:0 0 15px 0; } 

    #header-contact { float:left; padding:0 0 0 15px; }

    #header {

      h1  { padding:25px 0 0 15px; }

      h2 { padding:0 0 10px 15px; }    

      .phone { float:left; margin:0 0 0 0; text-align:right; width:154px; }
    }


    #footer { background-color:#efefef; padding:0 0 15px 0; } 

    #footer-contact { float:left; padding:0 0 0 15px; }

    #footer { 
      .min-480 {display:none !important;}

      .max-480 {display:block !important;}

      .min-480-inline {display:none;}

      .max-480-inline {display:inline;}

      h1  { padding:25px 0 0 15px; }

      h2 { padding:0 0 10px 15px; }    

      .phone { float:left; margin:0 0 0 0; text-align:right; width:154px; }
    }
  }